<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人空间</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="__STATIC__/plugs/lay-module/layim-v3.7.6/dist/css/layui.css" media="all">
    <script src="__STATIC__/plugs/lay-module/layim-v3.7.6/dist/layui.js" charset="utf-8"></script>
<!--    <script src="__STATIC__/admin/js/system/person.js" charset="utf-8"></script>-->

    <style>
        html{background-color: #333;}
    </style>

</head>
<body>
<div id="user_id" style="display: none">{$user_id}</div>

</body>
</html>

