<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('business.scene/add')}"
               data-auth-edit="{:auth('business.scene/edit')}"
               data-auth-delete="{:auth('business.scene/delete')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>




<script type="text/html" id="controlPlanScene">
    <a class="layui-btn layui-btn-xs layui-btn-normal" target="_self" layuimini-content-href="{:__url('business.goods/index')}?eventId={{d.eventId}}" href="javascript:void(0);" lay-event="check" data-title="报名商品列表">审核</a>

    <a class="layui-btn layui-btn-xs layui-btn-success" event_link="
{{#  if(d.sceneId == 6){ }}
https://ad.alimama.com/portal/v2/pages/zhaoshang/normal/list.htm?mode=all&srcCode=1&from=cp&keyword={{d.eventId}}&showOnlySellerCanJoin=false
{{# } else if(d.sceneId == 8){ }}
https://ad.alimama.com/portal/v2/pages/zhaoshang/content/list.htm?mode=all&srcCode=1&from=cp&keyword={{d.eventId}}&showOnlySellerCanJoin=false
{{#  } else if(d.sceneId == 10 || d.sceneId == 13 || d.sceneId == 14){ }}
{{d.eventId}}
{{#  } else if(d.sceneId == 16){ }}
https://ad.alimama.com/portal/v2/pages/zhaoshang/topN/list.htm?mode=all&from=cp&keyword={{d.eventId}}&showOnlySellerCanJoin=false&from=cp
{{#  } else if(d.sceneId == 27){ }}
https://ad.alimama.com/portal/v2/pages/zhaoshang/superU2/list.htm?mode=all&srcCode=1&from=cp&keyword={{d.eventId}}&showOnlySellerCanJoin=false
{{#  } else { }}
未知活动类型，请联系管理员处理
{{#  }  }}
" lay-event="copy_link" id="copy_link" data-title="复制活动链接" >活动链接</a>


</script>