<!DOCTYPE html>
<html class="no-js" lang="en">

{include file="head" /}

<body>

    <div id="page">
        {include file="header" /}

        <!-- Page Title Section Start -->
        <div class="page-title-section section section-padding-top" data-overlay="0.7" data-bg-image="__STATIC__/assets/images/bg/breadcrumb-bg-four.jpg">
            <div class="page-title">
                <div class="container">
                    <h1 class="title">关注我们所有的最新新闻、见解和事件</h1>
                </div>
            </div>
            <div class="page-breadcrumb position-static">
                <div class="container">
                    <ul class="breadcrumb justify-content-center">
                        <li><a href="index.html">首页</a></li>
                        <li class="current">动态</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Page Title Section End -->

        <!-- Blog Section Start -->
        <div class="section section-padding fix">
            <div class="container">
                <div class="row mb-n10">

                    <div class="col-lg-8 col-12 order-lg-1 mb-10">
                        <!-- Blog Wrapper Start -->
                        <div class="row row-cols-1 no-gutters">

                            <!-- Blog Start -->
                            <div class="blog-3 col" data-aos="fade-up">
                                <div class="thumbnail">
                                    <a href="blog-details.html" class="image"><img src="__STATIC__/assets/images/blog/770/blog-2.jpg" alt="Blog Image"></a>
                                </div>
                                <div class="info">
                                    <ul class="meta">
                                        <li><i class="fal fa-pencil-alt"></i>编辑来源于管理员, 2020年10月10日</li>
                                        <li><i class="fas fa-tags"></i>市场营销, 方案策划</li>
                                        <li><i class="fas fa-comments"></i>4 评论</li>
                                    </ul>
                                    <h3 class="title"><a href="blog-details.html">营销变得无价：新世界的新收入营销模式</a></h3>
                                    <div class="desc">
                                        <p>我们一直都知道数字化的力量，我们掌握了驾驭数字化的战略、战术和技术。现在，其他部门不得不接受企业谈论已久的数字化转型。</p>
                                    </div>
                                    <a href="blog-details.html" class="btn btn-primary btn-hover-secondary mt-6">阅读更多</a>
                                </div>
                            </div>
                            <!-- Blog End -->

                            <!-- Blog Start -->
                            <div class="blog-3 col" data-aos="fade-up">
                                <div class="thumbnail">
                                    <a href="blog-details.html" class="image"><img src="__STATIC__/assets/images/blog/770/blog-1.jpg" alt="Blog Image"></a>
                                </div>
                                <div class="info">
                                    <ul class="meta">
                                        <li><i class="fal fa-pencil-alt"></i>编辑来源于管理员, 2020年10月10日</li>
                                        <li><i class="fas fa-tags"></i>市场营销, 方案策划</li>
                                        <li><i class="fas fa-comments"></i>4 评论</li>
                                    </ul>
                                    <h3 class="title"><a href="blog-details.html">如何成为用户体验设计师-无论你在大学学过什么</a></h3>
                                    <div class="desc">
                                        <p>美观实用的设计是决定企业成败的关键因素。伟大的设计师被视为超级明星。设计出人们喜欢使用的漂亮的东西是如此的满足</p>
                                    </div>
                                    <a href="blog-details.html" class="btn btn-primary btn-hover-secondary mt-6">阅读更多</a>
                                </div>
                            </div>
                            <!-- Blog End -->

                            <!-- Blog Start -->
                            <div class="blog-3 col" data-aos="fade-up">
                                <div class="thumbnail">
                                    <a href="blog-details.html" class="image"><img src="__STATIC__/assets/images/blog/770/blog-3.jpg" alt="Blog Image"></a>
                                </div>
                                <div class="info">
                                    <ul class="meta">
                                        <li><i class="fal fa-pencil-alt"></i>编辑来源于管理员, 2020年10月10日</li>
                                        <li><i class="fas fa-tags"></i>市场营销, 方案策划</li>
                                        <li><i class="fas fa-comments"></i>4 评论</li>
                                    </ul>
                                    <h3 class="title"><a href="blog-details.html">如何成为用户体验设计师-无论你在大学学过什么</a></h3>
                                    <div class="desc">
                                        <p>美观实用的设计是决定企业成败的关键因素。伟大的设计师被视为超级明星。设计出人们喜欢使用的漂亮的东西是如此的满足</p>
                                    </div>
                                    <a href="blog-details.html" class="btn btn-primary btn-hover-secondary mt-6">阅读更多</a>
                                </div>
                            </div>
                            <!-- Blog End -->

                        </div>
                        <!-- Blog Wrapper End -->

                        <!-- Pagination Start -->
                        <div class="row">
                            <div class="col">

                                <ul class="pagination center">
                                    <li><a href="#" class="prev"><i class="fal fa-angle-left"></i></a></li>
                                    <li><a href="#" class="active">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><span class="page-numbers dots"><i class="fal fa-ellipsis-h"></i></span></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#" class="next"><i class="fal fa-angle-right"></i></a></li>
                                </ul>

                            </div>
                        </div>
                        <!-- Pagination End -->
                    </div>

                    <div class="col-lg-4 col-12 order-lg-2 mb-10">
                        <div class="sidebar-widget-wrapper">
                            <div class="sidebar-widget">
                                <div class="sidebar-widget-content">
                                    <div class="sidebar-widget-search">
                                        <form action="#">
                                            <input type="text" placeholder="Search...">
                                            <button><i class="fas fa-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-widget">
                                <h3 class="sidebar-widget-title mb-2">分类</h3>
                                <div class="sidebar-widget-content">
                                    <ul class="sidebar-widget-cate-list">
                                        <li><a href="#"><span class="text">品牌打造</span> <span class="count">2</span></a></li>
                                        <li><a href="#"><span class="text">市场营销</span> <span class="count">8</span></a></li>
                                        <li><a href="#"><span class="text">方案策划</span> <span class="count">4</span></a></li>
                                        <li><a href="#"><span class="text">运营推广</span> <span class="count">3</span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sidebar-widget">
                                <h3 class="sidebar-widget-title mb-2">热门帖子</h3>
                                <div class="sidebar-widget-content">
                                    <ul class="sidebar-widget-list-post">
                                        <li>
                                            <span class="cate">市场营销</span>
                                            <a href="#">在基于客户的营销中，您的销售如何协同工作</a>
                                        </li>
                                        <li>
                                            <span class="cate">商业</span>
                                            <a href="#">市场营销人员需要了解的关于DTC营销的六件事</a>
                                        </li>
                                        <li>
                                            <span class="cate">市场营销</span>
                                            <a href="#">开发敏捷营销的十一大秘诀</a>
                                        </li>
                                        <li>
                                            <span class="cate">公司动态</span>
                                            <a href="#">在基于客户的营销中，您的销售如何协同工作</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="sidebar-widget">
                                <div class="sidebar-widget-content">
                                    <div class="sidebar-widget-banner" data-overlay="0.7" data-bg-image="__STATIC__/assets/images/bg/breadcrumb-bg.jpg">
                                        <h3 class="title">订阅我们的时事通讯</h3>
                                        <p>所有最新的营销新闻，包括最新的品牌活动，以及最有趣的见解</p>
                                        <a href="#">立即订阅</a>
                                    </div>
                                </div>
                            </div>

                            <div class="sidebar-widget">
                                <h3 class="sidebar-widget-title">热点标签</h3>
                                <div class="sidebar-widget-content">
                                    <div class="tagcloud">
                                        <a href="JavaScript:Void(0);">市场</a>
                                        <a href="JavaScript:Void(0);">品牌</a>
                                        <a href="JavaScript:Void(0);">运营</a>
                                        <a href="JavaScript:Void(0);">方案</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Blog Section End -->

        <!-- CTA Section Start -->
        <div class="section section-padding-t110-b120 newsletter-section" data-overlay="0.7" data-bg-image="__STATIC__/assets/images/bg/newsletter.jpg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-8 col-12 m-auto">
                        <!-- CTA Content Start -->
                        <div class="cta-content text-center">
                            <!-- Section Title Start -->
                            <div class="section-title color-light text-center mb-0" data-aos="fade-up">
                                <h2 class="title">让我们看看如何更好的合作</h2>
                                <p class="sub-title fz-18">准备好开始你的项目了吗？通过本表格收集的联络资料，我们会快速回复您，确保您的项目快速实施。</p>
                            </div>
                            <!-- Section Title End -->
                            <a href="#" class="btn btn-primary btn-hover-secondary mt-6">开始吧</a>
                        </div>
                        <!-- CTA Content End -->
                    </div>
                </div>
            </div>

            <!-- Animation Shape Start -->
            <div class="shape shape-1 scene">
                <span data-depth="1">
                    <img src="__STATIC__/assets/images/shape-animation/newsletter-shape.png" alt="">
                </span>
            </div>
            <!-- Animation Shape End -->
        </div>
        <!-- CTA Section End -->

        <!-- Footer Section Start -->
        {include file="footer" /}
        <!-- Footer Section End -->

    </div>

    <!-- Mobile-Header Section Start -->
    {include file="mobile-header" /}
    <!-- Mobile-Header Section End -->

    <!-- JS
============================================ -->

    <!-- Vendors JS -->
    <!-- <script src="__STATIC__/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="__STATIC__/assets/js/vendor/jquery-3.4.1.min.js"></script>
<script src="__STATIC__/assets/js/vendor/jquery-migrate-3.1.0.min.js"></script>
<script src="__STATIC__/assets/js/vendor/bootstrap.bundle.min.js"></script> -->

    <!-- Plugins JS -->
    <!-- <script src="__STATIC__/assets/js/plugins/parallax.min.js"></script>
<script src="__STATIC__/assets/js/plugins/jquery.ajaxchimp.min.js"></script> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <script src="__STATIC__/assets/js/vendor/vendor.min.js"></script>
    <script src="__STATIC__/assets/js/plugins/plugins.min.js"></script>

    <!-- Main Activation JS -->
    <script src="__STATIC__/assets/js/main.js"></script>





</body>

</html>