<!DOCTYPE html>
<html class="no-js" lang="en">

{include file="head" /}

<body>

    <div id="page">
        {include file="header" /}

        <!-- Page Title Section Start -->
        <div class="page-title-section section section-padding-top" data-overlay="0.7" data-bg-image="__STATIC__/assets/images/bg/breadcrumb-bg-four.jpg">
            <div class="page-title">
                <div class="container">
                    <h1 class="title">关注我们所有的最新新闻、见解和事件</h1>
                </div>
            </div>
            <div class="page-breadcrumb position-static">
                <div class="container">
                    <ul class="breadcrumb justify-content-center">
                        <li><a href="index.html">首页</a></li>
                        <li class="current">动态</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Page Title Section End -->

        <!-- Blog Section Start -->
        <div class="section section-padding fix">
            <div class="container">

                <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1 mb-n6">
                    <div class="col">
                        <!-- Single Blog Start -->
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="blog-details.html" class="image"><img src="__STATIC__/assets/images/blog/370/blog-1.jpg" alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <ul class="meta">
                                    <li><i class="far fa-calendar"></i>2020年6月6日</li>
                                    <li><i class="far fa-eye"></i>70 阅读</li>
                                </ul>
                                <h3 class="title"><a href="blog-details.html">在基于客户的营销中，您的销售如何协同工作</a></h3>
                                <a href="blog-details.html" class="link "> <mark>详情</mark> </a>
                            </div>
                        </div>
                        <!-- Single Blog End -->
                    </div>
                    <div class="col">
                        <!-- Single Blog Start -->
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="blog-details.html" class="image"><img src="__STATIC__/assets/images/blog/370/blog-2.jpg" alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <ul class="meta">
                                    <li><i class="far fa-calendar"></i>2020年6月6日</li>
                                    <li><i class="far fa-eye"></i>70 阅读</li>
                                </ul>
                                <h3 class="title"><a href="blog-details.html">市场营销人员需要了解的关于DTC营销的六件事</a></h3>
                                <a href="blog-details.html" class="link "> <mark>详情</mark> </a>
                            </div>
                        </div>
                        <!-- Single Blog End -->
                    </div>
                    <div class="col">
                        <!-- Single Blog Start -->
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="blog-details.html" class="image"><img src="__STATIC__/assets/images/blog/370/blog-3.jpg" alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <ul class="meta">
                                    <li><i class="far fa-calendar"></i>2020年7月7日</li>
                                    <li><i class="far fa-eye"></i>70 阅读</li>
                                </ul>
                                <h3 class="title"><a href="blog-details.html">开发敏捷营销的十一大秘诀</a></h3>
                                <a href="blog-details.html" class="link "> <mark>详情</mark> </a>
                            </div>
                        </div>
                        <!-- Single Blog End -->
                    </div>
                    <div class="col">
                        <!-- Single Blog Start -->
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="blog-details.html" class="image"><img src="__STATIC__/assets/images/blog/370/blog-4.jpg" alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <ul class="meta">
                                    <li><i class="far fa-calendar"></i>2020年8月8日</li>
                                    <li><i class="far fa-eye"></i>70 阅读</li>
                                </ul>
                                <h3 class="title"><a href="blog-details.html">市场营销人员需要了解的关于DTC营销的六件事</a></h3>
                                <a href="blog-details.html" class="link "> <mark>详情</mark> </a>
                            </div>
                        </div>
                        <!-- Single Blog End -->
                    </div>
                    <div class="col">
                        <!-- Single Blog Start -->
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="blog-details.html" class="image"><img src="__STATIC__/assets/images/blog/370/blog-5.jpg" alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <ul class="meta">
                                    <li><i class="far fa-calendar"></i>2020年8月8日</li>
                                    <li><i class="far fa-eye"></i>70 阅读</li>
                                </ul>
                                <h3 class="title"><a href="blog-details.html">市场营销人员需要了解的关于DTC营销的六件事</a></h3>
                                <a href="blog-details.html" class="link "> <mark>详情</mark> </a>
                            </div>
                        </div>
                        <!-- Single Blog End -->
                    </div>
                    <div class="col">
                        <!-- Single Blog Start -->
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="blog-details.html" class="image"><img src="__STATIC__/assets/images/blog/370/blog-6.jpg" alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <ul class="meta">
                                    <li><i class="far fa-calendar"></i>2020年8月8日</li>
                                    <li><i class="far fa-eye"></i>70 阅读</li>
                                </ul>
                                <h3 class="title"><a href="blog-details.html">市场营销人员需要了解的关于DTC营销的六件事</a></h3>
                                <a href="blog-details.html" class="link "> <mark>详情</mark> </a>
                            </div>
                        </div>
                        <!-- Single Blog End -->
                    </div>
                </div>

                <!-- Pagination Start -->
                <div class="row mt-10">
                    <div class="col">

                        <ul class="pagination center">
                            <li><a href="#" class="prev"><i class="fal fa-angle-left"></i></a></li>
                            <li><a href="#" class="active">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><span class="page-numbers dots"><i class="fal fa-ellipsis-h"></i></span></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#" class="next"><i class="fal fa-angle-right"></i></a></li>
                        </ul>

                    </div>
                </div>
                <!-- Pagination End -->
            </div>
        </div>
        <!-- Blog Section End -->

        <!-- CTA Section Start -->
        <div class="section section-padding-t110-b120 newsletter-section" data-overlay="0.7" data-bg-image="__STATIC__/assets/images/bg/newsletter.jpg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-8 col-12 m-auto">
                        <!-- CTA Content Start -->
                        <div class="cta-content text-center">
                            <!-- Section Title Start -->
                            <div class="section-title color-light text-center mb-0" data-aos="fade-up">
                                <h2 class="title">让我们看看如何更好的合作</h2>
                                <p class="sub-title fz-18">准备好开始你的项目了吗？通过本表格收集的联络资料，我们会快速回复您，确保您的项目快速实施。</p>
                            </div>
                            <!-- Section Title End -->
                            <a href="#" class="btn btn-primary btn-hover-secondary mt-6">开始吧</a>
                        </div>
                        <!-- CTA Content End -->
                    </div>
                </div>
            </div>

            <!-- Animation Shape Start -->
            <div class="shape shape-1 scene">
                <span data-depth="1">
                    <img src="__STATIC__/assets/images/shape-animation/newsletter-shape.png" alt="">
                </span>
            </div>
            <!-- Animation Shape End -->
        </div>
        <!-- CTA Section End -->

        <!-- Footer Section Start -->
        {include file="footer" /}
        <!-- Footer Section End -->

    </div>

    <!-- Mobile-Header Section Start -->
    {include file="mobile-header" /}
    <!-- Mobile-Header Section End -->

    <!-- JS
============================================ -->

    <!-- Vendors JS -->
    <!-- <script src="__STATIC__/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="__STATIC__/assets/js/vendor/jquery-3.4.1.min.js"></script>
<script src="__STATIC__/assets/js/vendor/jquery-migrate-3.1.0.min.js"></script>
<script src="__STATIC__/assets/js/vendor/bootstrap.bundle.min.js"></script> -->

    <!-- Plugins JS -->
    <!-- <script src="__STATIC__/assets/js/plugins/parallax.min.js"></script>
<script src="__STATIC__/assets/js/plugins/jquery.ajaxchimp.min.js"></script> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <script src="__STATIC__/assets/js/vendor/vendor.min.js"></script>
    <script src="__STATIC__/assets/js/plugins/plugins.min.js"></script>

    <!-- Main Activation JS -->
    <script src="__STATIC__/assets/js/main.js"></script>





</body>

</html>