<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>亿品科技</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="__STATIC__/assets/images/favicon.png">

    <!-- CSS
	============================================ -->

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <!-- <link rel="stylesheet" href="__STATIC__/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/vendor/font-awesome-pro.min.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/vendor/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/vendor/muli-font.css"> -->

    <!-- Plugins CSS (All Plugins Files) -->
    <!--
    <link rel="stylesheet" href="__STATIC__/assets/css/plugins/swiper.min.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/plugins/animate.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/plugins/aos.min.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/plugins/magnific-popup.css">
     -->

    <!-- Main Style CSS -->
    <!-- <link rel="stylesheet" href="__STATIC__/assets/css/style.css"> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <link rel="stylesheet" href="__STATIC__/assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/style.min.css">

</head>