<!-- Header Section Start -->
<div class="header-section header-transparent sticky-header section">
    <div class="header-inner">
        <div class="container position-relative">
            <div class="row justify-content-between align-items-center">

                <!-- Header Logo Start -->
                <div class="col-xl-2 col-auto order-0">
                    <div class="header-logo">
                        <a href="index.html">
                            <img class="dark-logo" src="__STATIC__/assets/images/logo/logo.png" alt="Agency Logo">

                        </a>
                    </div>
                </div>
                <!-- Header Logo End -->

                <!-- Header Main Menu Start -->
                <div class="col-auto col-xl d-flex align-items-center justify-content-xl-center justify-content-end order-2 order-xl-1">
                    <div class="menu-column-area d-none d-xl-block position-static">
                        <nav class="site-main-menu">
                            <ul>
                                <li>
                                    <a href="index.html"><span class="menu-text">首页</span></a>
                                    <!--<span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                                    <ul class="sub-menu">
                                        <li><a href="index.html"><span class="menu-text">首页1</span></a></li>
                                        <li><a href="index-2.html"><span class="menu-text">首页2</span></a></li>
                                        <li><a href="index-3.html"><span class="menu-text">首页3</span></a></li>
                                    </ul>-->
                                </li>
                                <li>
                                    <a href="about.html"><span class="menu-text">关于我们</span></a>
                                </li>
                                <li>
                                    <a href="service.html"><span class="menu-text">服务</span></a>
                                </li>
                                <li class="has-children">
                                    <a href="work.html"><span class="menu-text">项目</span></a>
                                    <span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                                    <ul class="sub-menu">
                                        <li><a href="work.html"><span class="menu-text">项目</span></a></li>
                                        <li><a href="work-details.html"><span class="menu-text">项目详情</span></a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#"><span class="menu-text">公司动态</span></a>
                                    <span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                                    <ul class="sub-menu">
                                        <li><a href="blog-grid.html"><span class="menu-text">公司动态</span></a></li>
                                        <li><a href="blog-classic.html"><span class="menu-text">动态分类</span></a></li>
                                        <li><a href="blog-details.html"><span class="menu-text">动态详情</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="contact-us.html"><span class="menu-text">联系我们</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Header Search Start -->
                    <div class="header-search-area ml-xl-7 ml-0">

                        <!-- Header Login Start -->
                        <div class="header-search">
                            <a href="javascript:void(0)" class="header-search-toggle"><i class="pe-7s-search pe-2x pe-va"></i></a>
                        </div>
                        <!-- Header Login End -->
                    </div>
                    <!-- Header Search End -->

                    <!-- Header Mobile Menu Toggle Start -->
                    <div class="header-mobile-menu-toggle d-xl-none ml-sm-2">
                        <button class="toggle">
                            <i class="icon-top"></i>
                            <i class="icon-middle"></i>
                            <i class="icon-bottom"></i>
                        </button>
                    </div>
                    <!-- Header Mobile Menu Toggle End -->
                </div>
                <!-- Header Main Menu End -->

                <!-- Header Right Start -->
                <div class="col-xl-2 col d-none d-sm-flex justify-content-end order-1 order-xl-2">
                    <a href="/manage/login.html" class="btn btn-light btn-hover-primary">登录</a>
                </div>
                <!-- Header Right End -->

            </div>
        </div>
    </div>
</div>
<!-- Header Section End -->

<!-- Main Search Start -->
<div class="main-search-active">
    <div class="sidebar-search-icon">
        <button class="search-close"><i class="pe-7s-close"></i></button>
    </div>
    <div class="sidebar-search-input">
        <form action="#">
            <div class="form-search">
                <input id="search" class="input-text" value="" placeholder="" type="search">
                <button>
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
        <p class="form-description">敲击Enter键进行搜索或者敲击ESC键关闭</p>
    </div>
</div>
<!-- Main Search End -->