<div id="site-main-mobile-menu" class="site-main-mobile-menu">
    <div class="site-main-mobile-menu-inner">
        <div class="mobile-menu-header">
            <div class="mobile-menu-logo">
                <a href="index.html"><img src="__STATIC__/assets/images/logo/logo.png" alt=""></a>
            </div>
            <div class="mobile-menu-close">
                <button class="toggle">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-menu-content">
            <nav class="site-mobile-menu">
                <ul>
                    <li>
                        <a href="index.html"><span class="menu-text">首页</span></a>
                        <!--<span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                        <ul class="sub-menu">
                            <li><a href="index.html"><span class="menu-text">首页1</span></a></li>
                            <li><a href="index-2.html"><span class="menu-text">首页2</span></a></li>
                            <li><a href="index-3.html"><span class="menu-text">首页3</span></a></li>
                        </ul>-->
                    </li>
                    <li>
                        <a href="about.html"><span class="menu-text">关于我们</span></a>
                    </li>
                    <li>
                        <a href="service.html"><span class="menu-text">服务</span></a>
                    </li>
                    <li class="has-children">
                        <a href="work.html"><span class="menu-text">工作</span></a>
                        <span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                        <ul class="sub-menu">
                            <li><a href="work.html"><span class="menu-text">工作</span></a></li>
                            <li><a href="work-details.html"><span class="menu-text">工作详情</span></a></li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#"><span class="menu-text">博客</span></a>
                        <span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                        <ul class="sub-menu">
                            <li><a href="blog-grid.html"><span class="menu-text">博客布局</span></a></li>
                            <li><a href="blog-classic.html"><span class="menu-text">博客分类</span></a></li>
                            <li><a href="blog-details.html"><span class="menu-text">博客详情</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="contact-us.html"><span class="menu-text">联系我们</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>