<div class="layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-header">任务详情</div>
        <div class="layui-card-body">

            <ul class="layui-timeline">
                {foreach $recordData as $k=>$record}
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis"></i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">{$record.create_time}</h3>
                        <div><span>任务内容：</span><span>{$record.task_content}</span></div>
                        <div><span>更新状态：</span><span>{$getTaskStatusList[$record.task_status]}</span></div>
                        {if $record.type == 2 && $record.file_url != ''}
                        <div><span>文档下载：</span><a href="{$record.file_url}">点击下载</a></div>
                        {/if}
                    </div>
                </li>
                {/foreach}
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis"></i>
                    <div class="layui-timeline-content layui-text">
                        <div class="layui-timeline-title">遥想当年。。。</div>
                    </div>
                </li>
            </ul>


        </div>
    </div>
</div>
