<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('system.script_task/add')}"
               data-auth-edit="{:auth('system.script_task/edit')}"
               data-auth-delete="{:auth('system.script_task/delete')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>

<script type="text/html" id="controlPlan">
    <a class="layui-btn layui-btn-xs layui-btn-normal" data-open="system.script_task/detail?id={{d.id}}" data-title="查看任务详情" data-full="true">查看</a>
    {{#  if(d.task_status <= 0){ }}
    <a class="layui-btn layui-btn-xs layui-btn-success" data-open="system.script_task/edit?id={{d.id}}" data-title="编辑" data-full="true">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" data-request="system.script_task/delete?id={{d.id}}" data-title="确定删除？">删除</a>
    {{#  } }}
    {{#  if(d.type == 2 && d.file_url !== '' && d.file_url !== 'undefined'){ }}
    <a class="layui-btn layui-btn-xs layui-btn-success" href="{{d.file_url}}" data-title="下载"><i class="layui-icon layui-icon-download-circle"></i>下载</a>
    {{#  } }}
</script>