<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>企业员工</title>
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<link href="__STATIC__/admin/css/integral/contact.css" rel="stylesheet" type="text/css" />
	<script src="__STATIC__/admin/js/integral/contact.js?v={$version}" charset="utf-8"></script>

	<script src="__STATIC__/plugs/layui-v2.5.6/layui.all.js?v={$version}" charset="utf-8"></script>
	<script src="__STATIC__/plugs/require-2.3.6/require.js?v={$version}" charset="utf-8"></script>
	<script>
		window.CONFIG = {
			ADMIN: "{$adminModuleName|default='admin'}",
			CONTROLLER_JS_PATH: "{$thisControllerJsPath|default=''}",
			ACTION: "{$thisAction|default=''}",
			AUTOLOAD_JS: "{$autoloadJs|default='false'}",
			IS_SUPER_ADMIN: "{$isSuperAdmin|default='false'}",
			VERSION: "{$version|default='1.0.0'}",
		};
		var BASE_URL = document.scripts[document.scripts.length - 1].src.substring(0, document.scripts[document.scripts.length - 1].src.lastIndexOf("/") + 1);
		BASE_URL = window.location.protocol + '//' + window.location.host + '/static/';
		window.BASE_URL = BASE_URL;
		require.config({
			urlArgs: "v=" + CONFIG.VERSION,//CONFIG.VERSION//new Date().getTime()
			baseUrl: BASE_URL,
			paths: {
				"jquery": ["plugs/jquery-3.4.1/jquery-3.4.1.min"],
				"jquery-particleground": ["plugs/jq-module/jquery.particleground.min"],
				"easy-admin": ["plugs/easy-admin/easy-admin"],
				"layuiall": ["plugs/layui-v2.5.6/layui.all"],
				"tableSelect": ["plugs/lay-module/tableSelect/tableSelect"],
				"ckeditor": ["plugs/ckeditor4/ckeditor"],
			}
		});

		// 路径配置信息
		var PATH_CONFIG = {
			iconLess: BASE_URL + "plugs/font-awesome-4.7.0/less/variables.less",
		};
		window.PATH_CONFIG = PATH_CONFIG;

		// 初始化控制器对应的JS自动加载
		if ("undefined" != typeof CONFIG.AUTOLOAD_JS && CONFIG.AUTOLOAD_JS) {
			require([BASE_URL + CONFIG.CONTROLLER_JS_PATH], function (Controller) {
				if (eval('Controller.' + CONFIG.ACTION)) {
					eval('Controller.' + CONFIG.ACTION + '()');
				}
			});
		}
	</script>
</head>
<body>

<div class="mobile-wrapper">

	<svg hidden style="opacity: 0; width: 0; height: 0; position: absolute; top: 100%; left: 100%;">
		<defs>
			<!-- mask to cut out sections of the letter b -->
			<mask id="mask-b">
				<rect
						x="0"
						y="0"
						width="52"
						height="150"
						fill="#fff">
				</rect>
				<path
						d="M 14 14 h 20 a 3 3 0 0 1 3 3 v 6 a 3 3 0 0 1 -3 3 h -20 z"
						fill="#000">
				</path>
				<path
						d="M 14 44 h 20 a 3 3 0 0 1 3 3 v 6 a 3 3 0 0 1 -3 3 h -20 z"
						fill="#000">
				</path>
			</mask>
			<!-- mask to cut out the central section of the letter(s) o -->
			<mask id="mask-o">
				<rect
						x="0"
						y="0"
						width="50"
						height="150"
						fill="#fff">
				</rect>
				<!-- cut-out section replicating the letter o, but scaled from the center -->
				<g
						transform="translate(25 40) scale(0.5 0.6)">
					<g transform="translate(-25 -40)">
						<path
								fill="#000"
								d="M 0 0 a 100 100 0 0 1 50 15 v 70 a 100 100 0 0 0 -50 -15 v -70">
						</path>
					</g>
				</g>
			</mask>
			<!-- letter o
                including the mask and additional paths for the leaves above the letter
                ! this means the letters b and k need to be translated vertically to be aligned with the letter(s) o
            -->
			<symbol id="letter-o">
				<path
						transform="translate(0 21)"
						mask="url(#mask-o)"
						d="M 0 0 a 100 100 0 0 1 50 15 v 70 a 100 100 0 0 0 -50 -15 v -70">
				</path>
				<path
						d="M 50 31 a 100 100 0 0 0 -45 -20 v 5 a 100 100 0 0 1 45 15">
				</path>
				<path
						d="M 50 26 a 100 100 0 0 0 -22 -26 v 10 a 100 100 0 0 1 22 16">
				</path>
			</symbol>
			<!-- gradient overlaid on the books to give them a semitransparent shadow
            ! each book is mean to be 25 wide, hence the x2 value
            -->
			<linearGradient id="gradient-book" gradientUnits="userSpaceOnUse" y1="0" y2="0" x1="0" x2="25">
				<stop stop-color="#FF184A" offset="0"></stop>
				<stop stop-color="#311839" offset="1"></stop>
			</linearGradient>
			<!-- symbols describing the books included later in the project
                three variants with different patterns -->
			<symbol id="book-1">
				<g>
					<rect
							fill="#FF184A"
							x="5"
							y="0"
							width="15"
							height="125"
							rx="2">
					</rect>
					<rect
							fill="#932243"
							x="5"
							y="5"
							width="15"
							height="10">
					</rect>
					<rect
							fill="#932243"
							x="5"
							y="110"
							width="15"
							height="10">
					</rect>
					<rect
							fill="url(#gradient-book)"
							x="5"
							y="0"
							width="15"
							height="125"
							rx="2"
							opacity="0.6">
					</rect>
				</g>
			</symbol>
			<symbol id="book-2">
				<g>
					<rect
							fill="#FF184A"
							x="0"
							y="0"
							width="25"
							height="125"
							rx="3.5">
					</rect>
					<rect
							fill="#932243"
							x="0"
							y="10"
							width="25"
							height="2">
					</rect>
					<rect
							fill="#932243"
							x="0"
							y="17"
							width="25"
							height="20">
					</rect>
					<rect
							fill="#932243"
							x="0"
							y="42"
							width="25"
							height="2">
					</rect>
					<rect
							fill="url(#gradient-book)"
							x="0"
							y="0"
							width="25"
							height="125"
							rx="3.5"
							opacity="0.6">
					</rect>
				</g>
			</symbol>
			<symbol id="book-3">
				<g>
					<rect
							fill="#FF184A"
							x="0.5"
							y="25"
							width="24"
							height="100"
							rx="5">
					</rect>
					<rect
							fill="#932243"
							x="5.5"
							y="50"
							width="2"
							height="35">
					</rect>
					<rect
							fill="#932243"
							x="11.5"
							y="45"
							width="2"
							height="45">
					</rect>
					<rect
							fill="#932243"
							x="17.5"
							y="50"
							width="2"
							height="35">
					</rect>
					<rect
							fill="url(#gradient-book)"
							x="0.5"
							y="25"
							width="24"
							height="100"
							rx="5"
							opacity="0.6">
					</rect>
				</g>
			</symbol>
			<symbol id="book-4">
				<g>
					<rect
							fill="#FF184A"
							x="6"
							y="0"
							width="13"
							height="125"
							rx="2">
					</rect>
					<rect
							fill="#932243"
							x="11.5"
							y="12.5"
							width="2"
							height="100"
							rx="2">
					</rect>
					<rect
							fill="url(#gradient-book)"
							x="6"
							y="0"
							width="13"
							height="125"
							rx="2"
							opacity="0.6">
					</rect>
				</g>
			</symbol>
		</defs>
	</svg>

	<div class="app">
		<header>
			<img src="__STATIC__/admin/images/integral/tengxu.png">
		</header>

		<form id="app-form" class="layui-form layuimini-form">
			<label for="title">请输入手机号或微信号</label>
			<input type="text" name="title" id="title">

			<button aria-describedby="search-book">
				<svg viewBox="0 0 100 100" width="30" height="30">
					<g
							fill="none"
							stroke="currentColor"
							stroke-width="5">
						<circle
								cx="42"
								cy="42"
								r="25">
						</circle>
						<path
								stroke-linecap="round"
								d="M 67 67 l 15 15">
						</path>
					</g>
				</svg>
				<span hidden id="search-book">查询人员</span>
			</button>
		</form>

		<!-- article structure
            svg, drawing the side of the book
            div, describing the book's information
            -->
		<section>
			<!-- <article>
                <svg viewBox="0 0 25 125" width="25" height="125">
                    <use href="#book-1"></use>
                </svg>
                <div>
                    <h1>Book name</h1>
                    <h2>Author</h2>
                    ...
                </div>
            </article> -->
		</section>
	</div>

</div>

</body>

</html>
